body {
    text-align: center;
}

/* Navbar Brand */
.logo{
    /* margin: 0 10px 0 0;  */
}
#logotext{
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    color: #FB6376;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ele{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FB6376;
}

.nav-item {
    text-align: left;
    /* padding: 0 30px 0 30px; */
    font-weight: 600;
}

/* Headings */
.big-headings {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    /* font-style: italic; */
    color: #5D2A42;
}

.medium-headings {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* Supportive red headings */
.supportive-heading {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

/* Most medium headings are also title headings */
.title-headings{
    padding: 20px 10px 20px;

}

.small-headings {
    font-size: 1rem;
}

/* Title */
#title {
    height: 50vh;
    
}

#titleLine {
    text-align: left;
}

/* Head */

#head .container-fluid{
    padding: 0 15% 0;
}

/* Container */
.container-fluid {
    padding: 7% 15%;
}

#head.container-fluid{
    padding: 0 15%;
}

/* Title container-fluid */

.title-container{
    padding: 4% 15%;
}


/* Sections */
.colored-section {
    background-color: #FFF9EC;
    color: #5d2a42;
}

.white-section {
    
}

/* Products */
a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}


/* 
.section-products .header h2 {
font-size: 2.2rem;
font-weight: 400;
color: #444444;
} */

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    /* margin-bottom: 20px;  */
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2);
    /*rotate(2deg)*/
}


/* PRODUCT TYPES */

.product-types {
    /* padding: 0 10% ; */
}

.section-products #product-1 .part-1::before {
    background: url(../images/products/10w-30-synthetic.png) no-repeat center;
    background-color: #ffffff;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url(../images/products/15w-40-engine-oil.png) no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url(../images/products/4t-gold-1.png) no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url(../images/products/anti-freeze-coolant.png) no-repeat center;
    background-size: cover;
}
.section-products #product-5 .part-1::before {
    background: url(../images/products/4T-gold-2.png) no-repeat center;
    background-size: cover;
}
.section-products #product-6 .part-1::before {
    background: url(../images/products/4T-gold.png) no-repeat center;
    background-size: cover;
}
.section-products #product-7 .part-1::before {
    background: url(../images/products/power-cruise-oil-20w-40-40t.png) no-repeat center;
    background-size: cover;
}
.section-products #product-8 .part-1::before {
    background: url(../images/products/super-2t-oil.png) no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    /* background-color: #444444; */
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    margin-top: 0;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform: translateY(-50%);
}


/* Features */
.features-icon {
    transition: 0.3s;
}
.features-icon {
    color: #5d2a42;
}
.features-icon:hover {
    color: #a56283;

}

.feature-box {
    padding: 5% 7%;
}

/* ABOUT US */
#about{}

.about-box{
    /* margin: 2%; */
    padding: 5% 2%;
}

.about-title{
    padding: 0 0 10px;
}
.about-icon{
    padding: 0 10px 0;
    margin: 2px;
}

/* Footer */
#footer {
    background-color: #4d4d4d;
    color: #ececec;
}

.footerIco {}

/* Mobile first view */
@media screen and (max-width: 770px) {
    .navbar-brand {
        font-size: 1.8rem;

    }
    .title-container{
        padding: 6% 15%;
    }
    
    .big-headings {
        font-size: 2.2rem;
    }
    
    .feature-box{
        padding: 10% 13%;
    }

    .about-box{
        padding: 10% 5%;
    }
}